 <div class="search">
    <div class="container">
        <div class="row">
            <div class="col-9 items">
                <p>نتائج البحث " HUAEWEI Nova 7 SE "</p>
                <p class="st">نرتيب حسب 
                    <select class="form-select" aria-label="Default select example">
                        <option selected> الأكثر روجا</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                     </p>
                  <img src="../../../assets/img/burger-general-ham-list-menu-menu-icon-office-icon-menu-icon-png-512_512.png" alt="">
                 </div>
<div class="col-3">
    
</div>
</div>
</div>
</div>



