.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p , select , img{
    display: inline-block !important;
}
select{
    width: 50%;
}
.items{
    background-color: rgb(243 243 243);
    border: 1px solid #eee;
}
.col-9{
    display: flex;
    justify-content: space-between;
}

img{
    width: 50px;
    cursor: pointer;
    float: leftx ;
}
.st{
    width: 30%;
}
p{
    margin : 0;
    padding: 0;
    align-items: center;
    padding-top: 10px;
}
.form-select{
    padding: 3px 35px;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
.filter{
    padding: 0 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}
p{
    padding-top: 15px;
}
select{
    width: 130px;
}
i{
    padding-top: 15px;
    font-size: 18px;
}

mat-checkbox{
    direction: ltr;
}
input{
    display: inline;
    
}
.ref{
    padding: 5px;
    color: cornflowerblue;
    text-decoration: none;
}
mat-expansion-panel{
    margin-top: 15px;
}

.form-check-input[type=radio] {
    border-radius: 14%;
}

.black{
    padding: 0 13px;
    width: 20px;
    height: 10px;
    background-color: #000;
}
.red{
    padding: 0 13px;
    width: 20px;
    height: 10px;
    background-color: #f00;
}
.gray{
    padding: 0 13px;
    width: 20px;
    height: 10px;
    background-color: gray;
}
.blue{
    padding: 0 13px;
    width: 20px;
    height: 10px;
    background-color: blue;
}