<div class="footer">
    <div class="container">
        <div class="head">
            <h2>اشترك الان</h2>
            <p>اشترك في النشرة الإخبارية لدينا ، حتى تكون أول من يعرف<br> العروض الترويجية الجديدة</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ادخل االبريد الخاص بك" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button">اشترك الان</button>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="footer-box mt-4 mt-md-5">
                    <h2 class="fw-bold">التصنيفات</h2>
                    <ul class="">
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">جميع المنتجات</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">الموبيل&التابليت</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">التلفاز &الشاشات</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">اجهزه اللابتوب</a>
                      </li>
                    </ul>
                  
                  </div>
            </div>
            <div class="col-md-3">
                <div class="footer-box mt-4 mt-md-5">
                    <h2 class="fw-bold">الصفحات الاخري</h2>
                    <ul class="">
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">الصفحه الرئيسيه</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">من نحن</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">تواصل معنا</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">الاسئله الشائعه</a>
                      </li>
                    </ul>
                  
                  </div>
            </div>
            <div class="col-md-3">
                <div class="footer-box mt-4 mt-md-5">
                    <h2 class="fw-bold">تسجيل الدخول</h2>
                    <ul class="">
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">انشاء حساب</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">السله</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link px-0">المفضله</a>
                      </li>
                    </ul>
                  
                  </div>
            </div>
            <div class="col-md-3 last">
                <a href="#"><img src="../../../assets/img/moon white.svg" class="mb-3" alt=""> </a>
          <h2 class="fw-bold mb-5">مون تيك متجر متخصص ببيع <br>.المنتجات الالكترونيه</h2>
         <div class="social">
            <a href="#" ><img src="../../../assets/img/Icon awesome-facebook-f.svg"class="me-3" alt=""> </a>
            <a href="#" ><img src="../../../assets/img/Icon awesome-twitter.svg"class="me-3" alt=""> </a>
            <a href="#" ><img src="../../../assets/img/Icon awesome-instagram.svg"class="me-3" alt=""> </a>
            <a href="#"><img src="../../../assets/img/Icon metro-linkedin.svg"class="me-3" alt=""> </a>
         </div>
            </div>
            
        </div>
    </div>
</div>







<div class="copy-right">
    <div class="container">
        <div class="row">
            <div class="col-md-6 right">
                <img src="../../../assets/img/icon-pay.svg" alt="">
            </div>
            <div class="col-md-6 left">
                2021. All Rights Reserved  &copy;
            </div>
        </div>
    </div>
</div>



<!--#Start Footer [copy-paste]
------------------------------>

  <!--<footer>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 text-center">
          <h1 class="fw-bold"></h1>
          
            <form for=".." id=".."  class="d-flex justify-content-center align-items-center" style="direction: rtl;">
              <div class="input-group">
                <label for="exampleInputEmail1" class="form-label"></label>
                <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="ادخل االبريد الخاص بك" aria-describedby="emailHelp">
                <a href="#"><button class="btn-style1">اشترك الان</button></a>
              </div>
          </form>
        </div>
      </div>
      <div class="row d-flex justify-content-between align-items-center">-->

        <!------------
            #line 1
       

        <div class="col-md-3 col-12  text-center  mt-4 mt-md-5">
          <a href="#"><img src="img/moon white.svg"class="mb-4" alt=""> </a>
          <h2 class="fw-bold mb-5">مون تيك متجر متخصص ببيع <br>.المنتجات الالكترونيه</h2>
          <a href="#" ><img src="img/Icon awesome-facebook-f.svg"class="me-3" alt=""> </a>
          <a href="#" ><img src="img/Icon awesome-twitter.svg"class="me-3" alt=""> </a>
          <a href="#" ><img src="img/Icon awesome-instagram.svg"class="me-3" alt=""> </a>
          <a href="#"><img src="img/Icon metro-linkedin.svg"class="me-3" alt=""> </a>
          </div> -------------->

        <!----------
          line 2
       

        <div class="col-md-3 col-12">
          <div class="footer-box mt-4 mt-md-5">
            <h2 class="fw-bold">تسجيل الدخول</h2>
            <ul class="">
              <li class="nav-item">
                <a href="#" class="nav-link px-0">انشاء حساب</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">السله</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">المفضله</a>
              </li>
            </ul>
          
          </div>
        </div> ----------->
      
        <!---------
           line 3
        
        <div class="col-md-3 col-12">
          <div class="footer-box mt-4 mt-md-5">
            <h2 class="fw-bold">الصفحات الاخري</h2>
            <ul class="">
              <li class="nav-item">
                <a href="#" class="nav-link px-0">الصفحه الرئيسيه</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">من نحن</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">تواصل معنا</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">الاسئله الشائعه</a>
              </li>
            </ul>
          
          </div>
        </div>----------->


        <!--------
          line 4
        

        <div class="col-md-3 col-12">
          <div class="footer-box mt-4 mt-md-5">
            <h2 class="fw-bold">التصنيفات</h2>
            <ul class="">
              <li class="nav-item">
                <a href="#" class="nav-link px-0">جميع المنتجات</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">الموبيل&التابليت</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">التلفاز &الشاشات</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-0">اجهزه اللابتوب</a>
              </li>
            </ul>
          
          </div>
        </div>
      </div>
    </div>
  </footer>---------->

   <!----------------------------
       #End Footer [copy-paste]

        
               
                  <div class="container bg-white py-3">
                    <div class="row d-flex justify-content-between align-items-flex-end">
                      <div class="col-md-6 col-12  text-center text-md-start mb-3 mb-md-0 ">
                  <div class=" text-footer fw-bold">
                    © 2021 Copyright:Bis team.
                    </div>
                    </div>
                    <div class="col-md-6 col-12  d-flex justify-content-md-end justify-content-center">
                    <img src="img/icon-pay.svg" alt="">
                    </div>
                  </div> ------------------------------>
