<app-searchitem></app-searchitem>
<div class="cards">
    <div class="container">
        <div class="row">
          <div class="col-9">
            <div class="row">
                <div class="col-4">
                    <mat-card class="example-card">
                        <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                           HUAWEI nova 7SE
                          </p>
                          <p>HUAWEI</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <div class="row">
                            <div class="col-7">
                              <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                            </div>
                            <div class="col-5">
                              <p class="b">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              </p>
                            </div>
                          </div>
                                        
                        </mat-card-actions>
                      </mat-card>
                </div>

                <!--  -->

                <div class="col-4">
                  <mat-card class="example-card">
                      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <p>
                         HUAWEI nova 7SE
                        </p>
                        <p>HUAWEI</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <div class="row">
                          <div class="col-7">
                            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                          </div>
                          <div class="col-5">
                            <p class="b">
                              <i class="fa fa-heart" aria-hidden="true"></i>
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                                      
                      </mat-card-actions>
                    </mat-card>
              </div><div class="col-4">
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                       HUAWEI nova 7SE
                      </p>
                      <p>HUAWEI</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <div class="row">
                        <div class="col-7">
                          <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                        </div>
                        <div class="col-5">
                          <p class="b">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </p>
                        </div>
                      </div>
                                    
                    </mat-card-actions>
                  </mat-card>
            </div><div class="col-4">
              <mat-card class="example-card">
                  <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                     HUAWEI nova 7SE
                    </p>
                    <p>HUAWEI</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="row">
                      <div class="col-7">
                        <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                      </div>
                      <div class="col-5">
                        <p class="b">
                          <i class="fa fa-heart" aria-hidden="true"></i>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </p>
                      </div>
                    </div>
                                  
                  </mat-card-actions>
                </mat-card>
          </div><div class="col-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                   HUAWEI nova 7SE
                  </p>
                  <p>HUAWEI</p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="row">
                    <div class="col-7">
                      <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                    </div>
                    <div class="col-5">
                      <p class="b">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </p>
                    </div>
                  </div>
                                
                </mat-card-actions>
              </mat-card>
        </div><div class="col-4">
          <mat-card class="example-card">
              <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                 HUAWEI nova 7SE
                </p>
                <p>HUAWEI</p>
              </mat-card-content>
              <mat-card-actions>
                <div class="row">
                  <div class="col-7">
                    <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                  </div>
                  <div class="col-5">
                    <p class="b">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </p>
                  </div>
                </div>
                              
              </mat-card-actions>
            </mat-card>
      </div><div class="col-4">
        <mat-card class="example-card">
            <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               HUAWEI nova 7SE
              </p>
              <p>HUAWEI</p>
            </mat-card-content>
            <mat-card-actions>
              <div class="row">
                <div class="col-7">
                  <p class="a"><span> 6000EGB </span> EGP 5000 </p>
                </div>
                <div class="col-5">
                  <p class="b">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
                            
            </mat-card-actions>
          </mat-card>
    </div><div class="col-4">
      <mat-card class="example-card">
          <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
             HUAWEI nova 7SE
            </p>
            <p>HUAWEI</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col-7">
                <p class="a"><span> 6000EGB </span> EGP 5000 </p>
              </div>
              <div class="col-5">
                <p class="b">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </p>
              </div>
            </div>
                          
          </mat-card-actions>
        </mat-card>
  </div><div class="col-4">
    <mat-card class="example-card">
        <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           HUAWEI nova 7SE
          </p>
          <p>HUAWEI</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-7">
              <p class="a"><span> 6000EGB </span> EGP 5000 </p>
            </div>
            <div class="col-5">
              <p class="b">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </p>
            </div>
          </div>
                        
        </mat-card-actions>
      </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div><div class="col-4">
  <mat-card class="example-card">
      <img mat-card-image src="../../assets/img/H-pr1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         HUAWEI nova 7SE
        </p>
        <p>HUAWEI</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-7">
            <p class="a"><span> 6000EGB </span> EGP 5000 </p>
          </div>
          <div class="col-5">
            <p class="b">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </p>
          </div>
        </div>
                      
      </mat-card-actions>
    </mat-card>
</div>
            </div>

            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                    </ul>
                  </nav>
            </div>
        </div>
        <div class="col-3">
          <app-grid-filter></app-grid-filter>
        </div>
        </div>
    </div>
</div>