<div class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><img src="../../../assets/img/10.png" alt=""></li>
                    <li><img src="../../../assets/img/9.png" alt=""></li>
                    <li><img src="../../../assets/img/8.png" alt=""></li>


                    
                </ul>
            </div>
            <div class="col-md-4">
                <input type="searc" class="form-control">
            </div>
            <div class="col-md-4" style="text-align:left;">
                                <img class="img1" src="../../../assets/img/Artboard 13-8@2x.png" alt="">

            </div>
        </div>
    </div>
</div>


